# place this in ~/.config/nvim/snippets
snippet lib
    #ifndef $0
    #define $0

    #endif // $0

snippet dinc # default includes
    #include <stdio.h>
    #include <stdlib.h>

snippet if
	if (${1:true}) {
		${0:${VISUAL}}
	}

snippet el
	else {
		${0:${VISUAL}}
	}
snippet ret
    return $0

snippet for
	for (int ${2:i} = 0; $2 < ${1:count}; $2${3:++}) {
		${4}
	}
